server:
  port: 80
spring:
  profiles:
    # 外置jdbc和log配置文件
    active: jdbc,log,redis

  thymeleaf:
    prefix: classpath:/templates/
    check-template-location: true
    suffix: .html
    encoding: UTF-8
    content-type: text/html
    mode: HTML5
    cache: false


mybatis:
  type-aliases-package: springboot.dao

pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql

httpportcfg:
  http_port: 8080
  https_port: 8443

# Nettyserver 配置
nettyserver:
  serviceIp: 0.0.0.0
  servicePort: 3460

