/* General styles for all menus */
.cbp-spmenu {
	background:#B0B0B0;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #fff;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    margin: 0;
    font-weight: 300;
    background: #6B8FA8;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size:1.5em;
	font-weight: 300;
	transition:.5s ease-in;
}

.cbp-spmenu a:hover {
	background:#EB6F63;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width:500px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	padding:3.7em 1em;
    min-height: 240px;
	text-align: center;
	text-decoration:none;
}

.cbp-spmenu-vertical a span {
    display: block;
	top:-1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

button#showRightPush {
    background: none;
    border: none;
    outline: none;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -500px;
}

.cbp-spmenu-right {
	right: -500px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 500px;
}

.cbp-spmenu-push-toleft {
	left: -500px;
}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}
@media screen and (max-width:1080px){
	.cbp-spmenu-vertical a {
		padding: 3em 1em;
		min-height: 195px;
	}
}
@media screen and (max-width:991px){
	.cbp-spmenu-vertical a {
		padding: 3.4em 1em;
		min-height: 220px;
	}
}
@media screen and (max-width:736px){
	.cbp-spmenu a {
		font-size: 1em;
	}
	.cbp-spmenu-vertical a {
		padding: 2.5em 1em 1em;
		min-height: 85px;
	}
}
@media screen and (max-width:667px){
	.cbp-spmenu h3 {
		font-size: 1.5em;
		padding: 1em;
	}
}
@media screen and (max-width:480px){
	.cbp-spmenu-push-toleft {
		left: -300px !important;
	}
	.cbp-spmenu-vertical {
		width: 300px !important;
	}
	.cbp-spmenu a {
		font-size: 1.4em;
	}
	.cbp-spmenu-vertical a {
		padding: 2.5em 1em;
		min-height: 160px;
	}
}
@media screen and (max-width:375px){
	.cbp-spmenu-vertical {
		width: 190px !important;
	}
	.cbp-spmenu-push-toleft {
		left: -190px !important;
	}
	.cbp-spmenu-vertical a {
		padding:3.5em 0em 2em;
		min-height: 130px;
	}
	.cbp-spmenu a {
		font-size: 1em;
	}
}