<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>About Us</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Walk Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/component.css" rel="stylesheet" type="text/css"  />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body class="cbp-spmenu-push">
<!-- banner -->
	<div class="banner1">
		<div class="container">
			<div class="header">
				<div class="header-left">
					<form>
						<input type="text" value="Search Here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Here...';}" required="">
						<input type="submit" value="" >
						<div class="clearfix"> </div>
					</form>
				</div>
				<div class="header-left1">
					<h1><a href="index.html">Walk<span>Where To Go This Summer?</span></a></h1>
				</div>
				<!-- #push_sidebar -->
				<div class="top-nav">
					 <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
						<h3>Menu</h3>
						<ul>
							<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
							<li class="active"><a href="about.html"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>About</a></li>
							<li><a href="services.html"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Services</a></li>
							<li><a href="gallery.html"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Gallery</a></li>
							<li><a href="shortcodes.html"><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>Short Codes</a></li>
							<li><a href="contact.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Contact</a></li>
						</ul>
					</nav>
					 <div class="main buttonset">	
					<!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
						<button id="showRightPush"><img src="images/menu.png" alt=""/></button>
					</div>
				<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
						<script src="js/classie.js"></script>
						<script>
							var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
							showRightPush = document.getElementById( 'showRightPush' ),
							body = document.body;

							showRightPush.onclick = function() {
								classie.toggle( this, 'active' );
								classie.toggle( body, 'cbp-spmenu-push-toleft' );
								classie.toggle( menuRight, 'cbp-spmenu-open' );
								disableOther( 'showRightPush' );
							};

							function disableOther( button ) {
								if( button !== 'showRightPush' ) {
									classie.toggle( showRightPush, 'disabled' );
								}
							}
						</script>
						<!-- /script-for-menu -->
				</div>
				<!-- /#push_sidebar -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- about -->
	<div class="about">
		<div class="container">
			<div class="about-grid">
				<img src="images/20.jpg" alt=" " class="img-responsive" />
				<div class="about-grid-pos">
					<p><span>We travel</span> some of us forever, to seek other states, other lives and other souls.</p>
				</div>
			</div>
			<div class="about-grid1-grids">
				<h3>Temporibus autem quibusdam et aut officiis</h3>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure.</p>
				<div class="col-md-6 about-grid1-grid">
					<div class="about-grid1">
						<div class="pro1">
							<div class="progress pro">
							  <div class="progress-bar pro-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								<span class="sr-only">60% Complete</span>
							  </div>
							</div>
						</div>
						<div class="pro2">
							<p>60%</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="about-grid1">
						<div class="pro1">
							<div class="progress pro">
							  <div class="progress-bar pro-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
								<span class="sr-only">30% Complete</span>
							  </div>
							</div>
						</div>
						<div class="pro2">
							<p>30%</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="about-grid1">
						<div class="pro1">
							<div class="progress pro">
							  <div class="progress-bar pro-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
								<span class="sr-only">80% Complete</span>
							  </div>
							</div>
						</div>
						<div class="pro2">
							<p>80%</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 about-grid1-grid">
					<div class="about-grid1">
						<div class="pro1">
							<div class="progress pro">
							  <div class="progress-bar pro-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
								<span class="sr-only">40% Complete</span>
							  </div>
							</div>
						</div>
						<div class="pro2">
							<p>40%</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="about-grid1">
						<div class="pro1">
							<div class="progress pro">
							  <div class="progress-bar pro-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
								<span class="sr-only">70% Complete</span>
							  </div>
							</div>
						</div>
						<div class="pro2">
							<p>70%</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="about-grid1">
						<div class="pro1">
							<div class="progress pro">
							  <div class="progress-bar pro-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
								<span class="sr-only">20% Complete</span>
							  </div>
							</div>
						</div>
						<div class="pro2">
							<p>20%</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="testimonials">
		<div class="container">
			<h3>Testimonials</h3>
			<p class="dummy-text">travel brings power and love back to your life.</p>
			<div class="testimonials-grids">
				<div class="col-md-4 testimonials-grid">
					<div class="testimonials-grid1">
						<div class="testimonials-grid2">
							<h4>Sed ut perspiciatis unde omnis</h4>
							<p>"But I must explain to you how all this mistaken idea of 
								denouncing pleasure and praising pain was born.</p>
							<img src="images/3.png" alt=" " class="img-responsive" />
							<h5>By - Adam Smith </h5>
							<div class="social-icons testimonials-grid2-social-icons">
								<ul>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="facebook"></a></li>
									<li><a href="#" class="google"></a></li>
									<li><a href="#" class="p"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 testimonials-grid">
					<div class="testimonials-grid1">
						<div class="testimonials-grid2">
							<h4>Praesentium voluptatum deleniti atque</h4>
							<p>"But I must explain to you how all this mistaken idea of 
								denouncing pleasure and praising pain was born.</p>
							<img src="images/4.png" alt=" " class="img-responsive" />
							<h5>By - Laura James </h5>
							<div class="social-icons testimonials-grid2-social-icons">
								<ul>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="facebook"></a></li>
									<li><a href="#" class="google"></a></li>
									<li><a href="#" class="p"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 testimonials-grid">
					<div class="testimonials-grid1">
						<div class="testimonials-grid2">
							<h4>Duis aute irure dolor in corrupti</h4>
							<p>"But I must explain to you how all this mistaken idea of 
								denouncing pleasure and praising pain was born.</p>
							<img src="images/5.png" alt=" " class="img-responsive" />
							<h5>By - Michael Herb</h5>
							<div class="social-icons testimonials-grid2-social-icons">
								<ul>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="facebook"></a></li>
									<li><a href="#" class="google"></a></li>
									<li><a href="#" class="p"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="history">
		<div class="container">
			<div class="col-md-6 history-left">
				<h3>Our Short History</h3>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure.</p>
				<h4>"On the other hand, we denounce with righteous indignation and dislike 
					men who are so beguiled and demoralized by the charms of pleasure of the 
					moment, so blinded by desire, that they cannot foresee the pain and trouble 
					that are bound to ensue.</h4>
			</div>
			<div class="col-md-6 history-right">
				<figure class="blog-figure">
					<img src="images/4.jpg" alt=" " class="img-responsive" />
					<div class="blog-discription">
						<div class="theme-border">
							<div class="tg-display-table">
								<div class="tg-display-table-cell">
									<div class="blog-title">
										<h4><a href="index.html">Walk</a></h4>
										<ul class="blod-meta">
											<li>Posted By: <a href="#">Admin</a></li>
											<li>Dated: March 20, 2016</li>
											<div class="clearfix"> </div>
										</ul>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
											tempor incididunt.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</figure>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //about -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 footer-grid">
				<img src="images/8.jpg" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-3 footer-grid">
				<h2><a href="index.html">Walk<span>Where To Go This Summer?</span></a></h2>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure 
					and praising pain was born.</p>
				<ul>
					<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 738 Diamond Road, New York City, USA.</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +7683 928 829</li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h4>Flickr Photos</h4>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 footer-grid">
				<h4>Booking Hours</h4>
				<div class="footer-grid2">
					<ul class="timings">
						<li>Monday <i>.....</i> 10AM to 7PM</li>
						<li>Friday <i>.....</i> 9AM to 5PM</li>
						<li>Sunday <i>.....</i> 10AM to 2PM</li>
					</ul>
					<div class="social-icons social-icons1">
						<ul>
							<li><a href="#" class="twitter"></a></li>
							<li><a href="#" class="facebook"></a></li>
							<li><a href="#" class="google"></a></li>
							<li><a href="#" class="p"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="footer-copy">
		<div class="container">
			<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
	</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>