<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-grid">
            <img src="images/8.jpg" alt=" " class="img-responsive"/>
        </div>
        <div class="col-md-3 footer-grid">
            <h2><a href="index.html">Walk<span>Where To Go This Summer?</span></a></h2>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure
                and praising pain was born.</p>
            <ul>
                <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 738 Diamond Road, New York City,
                    USA.
                </li>
                <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a
                        href="mailto:info@example.com">info@example.com</a></li>
                <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +7683 928 829</li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid">
            <h4>Flickr Photos</h4>
            <div class="footer-grid1">
                <a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive"/></a>
            </div>
            <div class="footer-grid1">
                <a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive"/></a>
            </div>
            <div class="footer-grid1">
                <a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive"/></a>
            </div>
            <div class="footer-grid1">
                <a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive"/></a>
            </div>
            <div class="footer-grid1">
                <a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive"/></a>
            </div>
            <div class="footer-grid1">
                <a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive"/></a>
            </div>
            <div class="footer-grid1">
                <a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive"/></a>
            </div>
            <div class="footer-grid1">
                <a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive"/></a>
            </div>
            <div class="footer-grid1">
                <a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive"/></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3 footer-grid">
            <h4>Booking Hours</h4>
            <div class="footer-grid2">
                <ul class="timings">
                    <li>Monday <i>.....</i> 10AM to 7PM</li>
                    <li>Friday <i>.....</i> 9AM to 5PM</li>
                    <li>Sunday <i>.....</i> 10AM to 2PM</li>
                </ul>
                <div class="social-icons social-icons1">
                    <ul>
                        <li><a href="#" class="twitter"></a></li>
                        <li><a href="#" class="facebook"></a></li>
                        <li><a href="#" class="google"></a></li>
                        <li><a href="#" class="p"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="footer-copy">
    <div class="container">
        <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/"
                                                                                    target="_blank"
                                                                                    title="模板之家">模板之家</a> - Collect from
            <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
    </div>
</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>