<!DOCTYPE html>
<html>
<head>
<title>Gallery</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Walk Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/component.css" rel="stylesheet" type="text/css"  />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body class="cbp-spmenu-push">
<!-- banner -->
	<div class="banner1">
		<div class="container">
			<div class="header">
				<div class="header-left">
					<form>
						<input type="text" value="Search Here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Here...';}" required="">
						<input type="submit" value="" >
						<div class="clearfix"> </div>
					</form>
				</div>
				<div class="header-left1">
					<h1><a href="index.html">Walk<span>Where To Go This Summer?</span></a></h1>
				</div>
				<!-- #push_sidebar -->
				<div class="top-nav">
					 <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
						<h3>Menu</h3>
						<ul>
							<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
							<li><a href="about.html"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>About</a></li>
							<li><a href="services.html"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Services</a></li>
							<li class="active"><a href="gallery.html"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Gallery</a></li>
							<li><a href="shortcodes.html"><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>Short Codes</a></li>
							<li><a href="contact.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Contact</a></li>
						</ul>
					</nav>
					 <div class="main buttonset">	
					<!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
						<button id="showRightPush"><img src="images/menu.png" alt=""/></button>
					</div>
				<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
						<script src="js/classie.js"></script>
						<script>
							var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
							showRightPush = document.getElementById( 'showRightPush' ),
							body = document.body;

							showRightPush.onclick = function() {
								classie.toggle( this, 'active' );
								classie.toggle( body, 'cbp-spmenu-push-toleft' );
								classie.toggle( menuRight, 'cbp-spmenu-open' );
								disableOther( 'showRightPush' );
							};

							function disableOther( button ) {
								if( button !== 'showRightPush' ) {
									classie.toggle( showRightPush, 'disabled' );
								}
							}
						</script>
						<!-- /script-for-menu -->
				</div>
				<!-- /#push_sidebar -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- gallery -->
	<div class="gallery">
		<div class="container">
			<h3>Gallery</h3>
			<p class="dummy-text">travel brings power and love back to your life.</p>
			<div class="gallery-grids">
				<div class="gallery-grid2">
					<div class="gallery-grid">
						<div class="gallery-grid1">
							<a href="images/5.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="images/5.jpg" alt=" " class="img-responsive" />
								<div class="p-mask">
									<h4>Walk</h4>
									<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
										amet, consectetur, adipisci velit.</p>
								</div>
							</a>
						</div>
						<div class="gallery-grid1">
							<a href="images/9.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="images/9.jpg" alt=" " class="img-responsive" />
								<div class="p-mask">
									<h4>Walk</h4>
									<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
										amet, consectetur, adipisci velit.</p>
								</div>
							</a>
						</div>
					</div>
					<div class="gallery-grid-sub">
						<div class="gallery-grid1">
							<a href="images/10.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="images/10.jpg" alt=" " class="img-responsive" />
								<div class="p-mask">
									<h4>Walk</h4>
									<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
										amet, consectetur, adipisci velit.</p>
								</div>
							</a>
						</div>
						<div class="gallery-grid1">
							<a href="images/11.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="images/11.jpg" alt=" " class="img-responsive" />
								<div class="p-mask">
									<h4>Walk</h4>
									<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
										amet, consectetur, adipisci velit.</p>
								</div>
							</a>
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="gallery-grid1">
						<a href="images/2.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<img src="images/2.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Walk</h4>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
									amet, consectetur, adipisci velit.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="gallery-grid-sub1">
					<div class="gallery-grid1">
						<a href="images/8.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<img src="images/8.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Walk</h4>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
									amet, consectetur, adipisci velit.</p>
							</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a href="images/12.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<img src="images/12.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Walk</h4>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
									amet, consectetur, adipisci velit.</p>
							</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a href="images/13.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<img src="images/13.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Walk</h4>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
									amet, consectetur, adipisci velit.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
				<!-- script -->
					<script src="js/jquery.chocolat.js"></script>
						<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
						<!--light-box-files-->
					<script type="text/javascript" charset="utf-8">
						$(function() {
							$('.gallery-grid1 a').Chocolat();
						});
					</script>
				<!-- script -->
			</div>
		</div>
	</div>
<!-- //gallery -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 footer-grid">
				<img src="images/8.jpg" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-3 footer-grid">
				<h2><a href="index.html">Walk<span>Where To Go This Summer?</span></a></h2>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure 
					and praising pain was born.</p>
				<ul>
					<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 738 Diamond Road, New York City, USA.</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +7683 928 829</li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h4>Flickr Photos</h4>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid1">
					<a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 footer-grid">
				<h4>Booking Hours</h4>
				<div class="footer-grid2">
					<ul class="timings">
						<li>Monday <i>.....</i> 10AM to 7PM</li>
						<li>Friday <i>.....</i> 9AM to 5PM</li>
						<li>Sunday <i>.....</i> 10AM to 2PM</li>
					</ul>
					<div class="social-icons social-icons1">
						<ul>
							<li><a href="#" class="twitter"></a></li>
							<li><a href="#" class="facebook"></a></li>
							<li><a href="#" class="google"></a></li>
							<li><a href="#" class="p"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="footer-copy">
		<div class="container">
			<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
	</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>