<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/jantent/header::header(null,null)"></div>
<body>
<div class="am-g am-g-fixed blog-fixed index-page">
    <div class="am-u-md-8 am-u-sm-12">
        <div th:each="article: ${articles.list}">

            <article class="am-g blog-entry-article">
                <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                    <img th:src="@{${commons.show_thumb(article)}}" alt="" class="am-u-sm-12"/>
                </div>
                <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                    <!-- 文章分类 -->
                    <span class="blog-color" th:utext="${commons.show_categories(article.categories)}"></span>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <!-- 发布时间 -->
                    <span th:text="'发布于 '+ ${commons.fmtdate(article.created)}"></span>
                    <h2>
                        <div><a th:href="${commons.permalink(article)}"
                                th:text="${article.title}"></a>
                        </div>
                    </h2>
                    <!-- 文章摘要-->
                    <div th:utext="${commons.intro(article,75)}"></div>
                </div>
            </article>

        </div>

        <div class="am-pagination">
            <div th:replace="comm/macros::pageNav(${articles},'←','→','page')"></div>
        </div>
    </div>


    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img th:src="@{/jantent/assets/img/f161.jpg}" alt="about me" class="blog-entry-img"/>
            <p>
                Java后台开发
            </p>
            <p>个人博客小站，主要发表关于Java,springboot,springcloud,thrift等相关文章</p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a th:href="@{https://github.com/JayTange}"><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
                    <th:block th:each="c : ${categories}">
                            <th:block th:if="${c.name == '默认分类'}">
                                <a th:href="${commons.showCategoryUrl(c)}" class="blog-tag">
                                    <th:block th:text="${c.name}"/>
                                    <th:block th:text="' ('+${c.count}+')'"/>
                                </a>
                            </th:block>
                            <th:block th:unless="${c.name == '默认分类'}">
                                <a th:href="${commons.showCategoryUrl(c)}" class="blog-tag">
                                    <th:block th:text="${c.name}"/>
                                    <th:block th:text="' ('+${c.count}+')'"/>
                                    <span class="caret"></span>
                                </a>
                            </th:block>

                    </th:block>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="themes/jantent/footer::footer"></div>
</html>
